.landing-page {
   background-image: url('../Images/red-waves.png');
   background-size: cover;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center; 
   color: white;
   font-family: 'Alata', sans-serif;
}

.landing-page-content {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 80%;
   max-width: 1200px;
}
.text-content {
   max-width: 500px;
   color: black;
}
.button-container {
   margin-top: 20px;
   display: flex;
   gap: 10px;
}
.image-section {
   flex: 1;
}
