
.nav-bar-lp {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   background-color: transparent;
   position: absolute;
   width: 100%;
   top: 0;
   font-family: 'Alata';
}


.nav-list-lp {
   display: flex;
   list-style: none;
   gap: 50px;
}


.nav-list-lp li {
   font-size: 14px;
   letter-spacing: 2px;
}

.nav-list-lp li a {
   text-decoration: none;
   color: white;
}

.nav-list-lp li a:hover {
   padding-bottom: 0.3rem;
   border-bottom: 2px solid white;
}


.hamburger {
   display: none;
   flex-direction: column;
   cursor: pointer;
   font-size: 24px;
   color: white;
}


@media (max-width: 768px) {
   .hamburger {
       display: flex;
   }

   .nav-list-lp {
       position: absolute;
       top: 60px;
       right: 0;
       background-color: rgba(20, 27, 45, 0.9);
       width: 100%;
       flex-direction: column;
       text-align: center;
       padding: 20px 0;
       transition: 0.3s ease-in-out;
       transform: translateY(-100%);
       opacity: 0;
       visibility: hidden;
   }

   .nav-list-lp.open {
       transform: translateY(0);
       opacity: 1;
       visibility: visible;
   }

   .nav-list-lp li {
       margin: 15px 0;
   }
}
