.html, body {
  width: 100%;
  overflow-x: hidden;
}

.product-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
}

.navbar {
  width: 100%;
  z-index: 10;
}
.page-content {
  display: flex;
  flex-grow: 1;
  height: calc(100vh - 60px);
  max-width: 100%;
  width: 100%;
  /* margin: ; */
  overflow-x: hidden;
}
@media (min-width: 1200px) {
  .page-content {
    max-width: 1400px; /* Adjust width dynamically */
    margin: 0 auto; /* Keep it centered */
  }
}

@media (min-width: 1600px) {
  .page-content {
    max-width: 1800px;
  }
}


/* .sidebar-container {
  width: 250px;
  min-width: 250px;
  height: 100%;
  background-color: #1e293b;
  color: white;
  position: fixed;
  top: 60px; 
  left: 0;
  bottom: 0;
  overflow-y: auto;
  z-index: 5;
} */
.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  width: 100%; 
}
.horizontal-category-section {
  /* padding: 1rem 2rem; */
  background-color: transparent;
  border-bottom: 1px solid #e5e7eb;
}
.category-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.category-items {
  display: flex;
  gap: 1.5rem;
  overflow-x: auto;
  padding: 0.5rem 0;
  scrollbar-width: thin;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  white-space: nowrap;
  overflow-y: hidden;
}
.category-items::-webkit-scrollbar {
  height: 4px;
}
.category-items::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}
.category-items::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}
.category-nav-buttons {
  display: flex;
  gap: 0.5rem;
}
.category-nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #f3f4f6;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}
.prods-container {
  padding: 2rem 2rem;
  flex-grow: 1;
  gap: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200, 1fr));
  max-width: 100%;
}
.prods-title {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: #333;
}




@media (max-width: 768px) {
  .sidebar-container {
    width: 64px;
    min-width: 64px;
  }
  .main-content {
    margin-left: 64px;
  }
  .category-nav-buttons {
    display: none;
  }
} 
