@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

.set-new-password-page {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #fcf7f8;
    background-image: url('../Images/fabric-background.png');
    background-size: cover;
    font-family: 'Alata';
}
.set-new-password-container {
    display: flex;
    width: 100%;
    height: 90vh;
    justify-content: center;
    max-width: 900px;
    background: #7e0404;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.set-new-left-section {
    flex: 1;
    width: 50%;
    background-color: #7e0404;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.set-new-left-section h1 {
    margin-top: 0;
    font-size: 46px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
}
.set-new-left-section p {
    font-size: 16px;
    margin-bottom: 20px;
}
.set-new-right-section {
    width: 50%;
    background-color: #fcf7f8;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
}
.set-new-right-section h2 {
    /* margin-top: -60px; */
    font-size: 22px;
    margin-bottom: 15px;
}
.set-new-right-section p {
    font-size: 16px;
    margin-bottom: 20px;
}
.set-new-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    padding-right: 40px;
}

.set-new-form-pass {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
    padding-right: 40px;
}
.eye-button {
   position: absolute;
   margin-top: 30px;
   right: 230px;
   background: none;
   border: none;
   cursor: pointer;
   font-size: 18px; 
}
.error-msg {
    color: red;
    padding: 2px;
}
.set-new-footer {
    margin-top: 15px;
    text-align: center;
}
.set-new-footer span {
    text-decoration: underline;
}
