/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
#root {
  max-width:100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.content {
  font-family: 'Source Sans Pro', sans-serif;
} */

/* WebKit Browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 10px; /* Adjust width */
  border-radius: 10px;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: #e0e5f2; /* Light hazy background */
  border-radius: 10px;
}

/* Handle (scrollbar itself) */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #4c5c88, #1f2945); /* Gradient */
  border-radius: 10px;
  border: 2px solid #e0e5f2; /* Adds an inset effect */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #6576a5, #2a365c);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #4c5c88 #e0e5f2; /* Thumb color | Track color */
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
/* .section {
  padding: 80px 20px;
} */